<div fxFlex fxLayout="row">
    <div fxFlex="20"></div>
    <div>
        <nav id="nav-main" class="nav-main">
          <a [routerLink]="['/']">
            <span>Home</span>
          </a>

          <span>|</span>

          <a [routerLink]="['/take']" routerLinkActive="active">
            <span>Take Action</span>
          </a>

          <span>|</span>

          <a [routerLink]="['/submit']" routerLinkActive="active">
            <span>Submit An Action</span>
          </a>

          <span>|</span>

          <a [routerLink]="['/howto']" routerLinkActive="active">
            <span>How To Use Take2</span>
          </a>

          <span>|</span>

          <a [routerLink]="['/about']" routerLinkActive="active">
            <span>About</span>
          </a>
        </nav>
    </div>
</div>
