/*
 =====================
 Variables / Mixins
 =====================
*/

@import "mixins";
@import "variables";

/*
 =====================
 HTML / Body
 =====================
*/

html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 62.5%;

    body {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: $font-sans;
        color: $color-jon;
        background-color: $color-white-smoke;
        font-weight: 400;
        overflow-y: scroll;

        app {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            @include flex;
            @include flex-layout-column;
        }
    }
}

/*
 ====================
 Base Styles
 ====================
*/

@import "base/global";
@import "base/grid";
@import "base/flex";
@import "base/fonts";
@import "base/spacing";
@import "base/helpers";
@import "base/typography";

/*
 =====================
 Lib Styles
 =====================
*/

@import "libs/theme";

/*
 ======================
 MAT Overrides
 ======================
*/

@import "overrides/mat";

