
<div class="site-header">
  <div class="site-header-top">
    <div class="container-logo">
      <a [routerLink]="['/']" id="logo-take2">
        <span>TAKE2</span>
      </a>
    </div>
    <span>All your activism in one place</span>
    <div id="user-account">
      <button class="menu-trigger">{{ selectedOrganization?.name }}
        <!-- <md-icon svgIcon="Dropdown_White"></md-icon> -->
      </button>

      <!-- <md-menu #menu>
        <hr>
        <button (click)="logout()" md-menu-item>Logout</button>
      </md-menu> -->
    </div>
  </div>
  <nav-main></nav-main>
</div>

