<div class="site-header" fxLayout="column">
    <div class="site-header-top" fxFlex fxLayout="row">
        <div class="container-logo" fxFlex="30">
            <a [routerLink]="['/']" id="logo-take2">
                <span>TAKE2</span>
            </a>
        </div>
        <div fxFlex fxLayoutAlign="end">
            <span>All your activism in one place</span>
            <div id="user-account">
                Welcome
                <button [matMenuTriggerFor]="menu" class="menu-trigger">Mike Howard
                    <mat-icon svgIcon="Dropdown_White"></mat-icon>
                </button>

                <mat-menu #menu>
                    <hr>
                    <button (click)="logout()" mat-menu-item>Logout</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <nav-main></nav-main>
</div>
