<mat-card class="hero">
    <mat-card-title>Where we need you now > ></mat-card-title>
    <div fxLayout="row">
        <img src="assets/img/HashtagBlackLives.png" />
        <div class="content" fxFlex fxLayout="column">
            <div class="description" fxFlex>
                <h2>BLM Southern Rally</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat dui eu dui fermentum, non maximus dolor mollis. Integer nec quam faucibus, mattis lectus id, lobortis est.
            </div>
            <div class="invitations">
                Invite others to take this action:
            </div>
        </div>
    </div>
</mat-card>
