@import "~styles/variables";

.actions.mat-card {
    padding: 0;

    .mat-tab-labels {
        background-color: $color-neptune;
    }

    .mat-tab-label {
        height: auto;
        min-width: auto;
        padding: 1rem 1.8rem;
        color: $color-white;
        opacity: 1;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-family: $font-sans;
    }

    .mat-tab-label-active {
        background-color: $color-sinbad;
        color: $color-white;
    }

    .mat-ink-bar {
        background-color: $color-sinbad;
    }
}
